.match_details {

    display: block;
    margin: 0px auto;
    padding-top: 50px;
    text-align: center;
    width: 900px;
}

.match_details_spacer {
    border: solid 1px transparent;
    display: block;
    margin: 0px auto;
   /* padding-top: 50px;*/
    text-align: center;
    width: 900px;
}

.match_details_section_title {
    font-size: 1.75rem;
    line-height: 2rem;
    padding: 20px;
}

form select,
form input[type="text"],
form input[type="date"] {
    margin: 5px;
}

button {
    display: block;
    margin: 30px auto;
    text-align: center;
    width: 100px;
}
